<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-11-23T09:07:14Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Koen/Documents/1. Fontys/4.0.0 Leerjaar 4/4.1.0 Minor Open Innovations/iBeaconTest/iBeaconTest.xcodeproj</string>
</dict>
</plist>
